doctype	html
html(lang="en")
	//- Declaracion del contenido en la pestaña
	head
		title Iván Lynch Portfolio
		//- Declaracion de la Metada.
		meta(charset="utf-8")
		//- Declaracion de Bootstrap
		link(href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet")
		//- Declaracion del CSS ubicado en la carpeta public
		link(href="/css/main.css" rel="stylesheet")
		//- Declaracion de las fuentes de Google
		link(href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css')
		link(href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css')
		//- Declaracion del ANIMATE ubicado en la carpeta public
		link(href='/css/animate.css' rel='stylesheet' type='text/css')
	body
			//-Declaracion de la barra de navegacion
			nav(class="large-padding fondo-gris")
				ul(class="no-list mediano")
					li(class="pacifico col-md-3 inline-block")
						a(href="index.html" class="green") Ivan Lynch #[small(class="lato small")]
					li(class="col-md-3 inline-block")
						a(href="menu.html") Menú
					li(class="col-md-3 inline-block")
						a(href="acerca.html") Contacto
		block contenido